<mat-card-title>
    <h2>New Product</h2>
</mat-card-title>
<mat-card-content>
    <form [formGroup]="insertForm"
          (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input id="name"
                   type="text"
                   matInput
                   placeholder="Name"
                   formControlName="name">
            <mat-hint align="end">{{name.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="name.touched && name.errors">
                <ng-container *ngIf="name.hasError('required')">Name is required.</ng-container>
                <ng-container *ngIf="name.hasError('maxlength')">Only 50 characters allowed for Name.</ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input id="price"
                   type="number"
                   matInput
                   placeholder="Price"
                   formControlName="price">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error *ngIf="price.touched && price.errors">
                <ng-container *ngIf="price.hasError('required')">Price is required.</ng-container>
                <ng-container *ngIf="price.hasError('min')">Negative price not allowed.</ng-container>
                <ng-container *ngIf="price.hasError('max')">Max price allowed is 10 000 000.</ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea id="description"
                      matInput
                      placeholder="Description"
                      formControlName="description">
            </textarea>
            <mat-hint align="end">{{description.value?.length || 0}}/500</mat-hint>
            <mat-error *ngIf="description.touched && description.errors">
                <span *ngIf="description.hasError('required')">Description is required.</span>
                <span *ngIf="description.hasError('minlength')">Min 3 characters</span>
                <span *ngIf="description.hasError('maxlength')">Max 500 characters</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input id="imageUrl"
                   type="text"
                   matInput
                   placeholder="Image path (http://.../*.jpg|jpeg|gif|png)"
                   formControlName="imageUrl">
            <mat-error *ngIf="imageUrl.touched && imageUrl.errors">
                <span *ngIf="imageUrl.hasError('pattern')">Invalid image url.</span>
            </mat-error>
        </mat-form-field>

        <section class="section-row">
            <mat-checkbox id="discontinued"
                        formControlName="discontinued">
                Discontinued?
            </mat-checkbox>
            <mat-checkbox id="fixedPrice"
                        formControlName="fixedPrice">
                Fixed Price?
            </mat-checkbox>
        </section>

        <button mat-raised-button
                type="submit"
                [disabled]="insertForm.invalid">Save</button>
    </form>
</mat-card-content>