.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table-header {
  min-height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-mdc-table {
  overflow: auto;
  max-height: 500px;
}

.mat-mdc-row.discontinued > .mat-mdc-cell {
  color: red !important;
}

.mat-mdc-row:hover {
  cursor: pointer;
  background-color: yellow;
}

.mat-mdc-row:hover .mat-mdc-cell {
  color: rgb(0, 0, 0) !important;
} 

.mat-column-name, .mat-column-description {    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Column Widths */
.mat-column-id {
max-width: 60px;
}
.mat-column-name {
max-width: 160px;
}
.mat-column-description {
max-width: 600px;
}
.mat-column-price {
max-width: 100px;
}