html, body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    height: 100%;
  }
  
  .mat-mdc-card {
    margin: 20px;
    padding: 0;
  }
  
  .mat-mdc-card h2 {
    margin-top: 0;
  }
